.container-fluid{
	height: 100%;
}
.header_view{
	background: #fbfbfb;
	height: 60px;
	border: 1px solid #e0e0e0;
	/*box-shadow: 0 2px 15px rgba(0,0,0,0.1);*/
	padding: 0 10px;
	margin-bottom: 10px;
}
.header_view > div{
	height: 100%;
}
.header_left{
	display: inline-block;
	height: 100%;
}
.menu_view{
	display: inline-block;
	font-size: 24px;
	cursor: pointer;
	margin-top: 15px;
	vertical-align: middle;
}
.all_report_ti{
	display: inline-block;
	font-size: 16px;
	color: #4e9ce2;
	font-weight: 700;
	vertical-align: middle;
    margin-top: 17px;
    margin-left: 15px;
    position: relative;
    padding-right: 20px;
}
.all_report_ti:after{
	position: absolute;
	content: "\f105";
	color: #4e9ce2;
	top: -2px;
	right:0;
	display: inline-block;
    font: normal normal normal 24px/1 FontAwesome;
    text-rendering: auto; 
}
.new_repo_tittle{
	display: inline-block;
	/*border-right: 2px solid #e5e5e5;*/
	height: 100%;
	vertical-align: top;
	font-size: 16px;
	color: #515d6a;
	font-weight: 500;
	padding: 18px;
	position: relative;
}
.new_repo_tittle:after{
	position: absolute;
	right: 0;
	top:50%;
	content: '';
	width: 2px;
	height: 70%;
	background:#e5e5e5;
	transform: translate(0, -50%);
}
.daily_time{
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
	color: #9b9b9b;
	margin-top: 17px;
	cursor: pointer;
}
.daily_time .fa-clock-o{
	color: #ececec;
	margin-right: 10px;
	font-size: 20px;
	vertical-align: top;
	margin-top: 1px;
}
.daily_time .fa-pencil{
	display: none;
}
.daily_time:hover .fa-pencil{
	display: inline-block;
}
.header_right{
	margin-top: 8px;
}
.save_drop{
	display: inline-block;
	vertical-align: middle;
}
.save_drop .btn-primary{
	background-color: #3c8dbc;
    border-color: #3c8dbc;
    font-size:16px;
    padding:0 20px;
    height: 40px;
}
.save_drop .btn-primary .caret{
	margin-left: 5px;
	border-top: 7px dashed;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.save_drop .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
.save_drop .btn-primary:active:hover{
	background-color: #3c8dbc;
    border-color: #3c8dbc;
}
.save_drop ul{
	right:0;
	left: inherit;
	min-width: 110px;
}
.export_btn_view{
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}
.export_btn_view button{
	padding:0 22px;
	color: #444444;
	font-size:15px;
	font-weight:500;
	border-color: #dadde1;
	background: #f5f6f7;
	height: 40px; 
}
.calender_view{
	display: inline-block;
	vertical-align: middle;
}
.calender_view .form-group{
	position: relative;
	margin-bottom: 0;
}
.calender_view .form-group:after{
	position: absolute;
	right: 10px;
    top: 17px;
	content: '';
	border-top: 7px dashed;
    border-top: 6px solid #444950;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    pointer-events: none;
}
.calender_view .form-group input{
	position: relative;
	border-color: #dadde1;
	background: #f5f6f7;
	box-shadow: none;
	width: 250px;
	font-size: 14px;
	height: 40px;
	cursor: pointer;
}
.date_calender_view{
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	margin-right: 10px;
}
.date_calender_view button{
	display: block;
	width: 100%;
	font-size: 14px;
	text-align: left;
	border-color: #dadde1;
	background: #f5f6f7;
	color: #444950;
	height: 40px;
}
.date_calender_view .caret{
	margin-left: 7px;
	border-top: 6px dashed;
    border-top: 6px solid #444950;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.open>.dropdown-toggle.btn-primary:focus{
	border-color: #dadde1;
	background: #f5f6f7;
	color: #444950;
}
.report_update_view{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	text-align: right;
}
.report_update_view span{
	display: inline-block;
	cursor: pointer;
	border:1px solid #dadde1;
	background: #f5f6f7;
	padding: 0 10px;
	height: 40px;
	border-radius: 4px;
	vertical-align: middle;
}
.report_update_view p{
	display: inline-block;
	font-size: 14px;
	color: #737373;
	width: 53%;
	text-align: right;
    padding-right: 10px;
    margin-bottom:0;
    line-height: 16px;
    vertical-align: middle;
}
.report_update_view span i{
	font-size: 22px;
	color: #b8b5b5;
	line-height: 39px;
}

/* Left section for report css */
.report_left_section{
	width: 20%;
	border: 1px solid #dadde1;
	background: #fbfbfb;
	padding: 10px;
	display: inline-block;
	height: 100%;
	vertical-align: top;
}
.report_tab_view{
	height: 100%;
}
.whole_report{

}
.whole_report .form-group{
	position: relative;
}
.whole_report .form-group i{
	position: absolute;
	left: 10px;
	top: 10px;
	content: '';
	font-size: 20px;
}
.whole_report input{
	border: 1px solid #dadde1;
	background: #fff;
	box-shadow: none;
	height: 40px;
	padding-left: 35px;
	font-size: 14px;
	font-weight: 500;
}
.report_tab_view .nav li{
	width: 50%;
	margin-bottom: -2px;
}
.report_tab_view .nav li a{
	color: #4e9ce2;
	font-size: 16px;
	margin-right: 0;
	padding: 6px 15px;
}
.report_tab_view .nav-tabs>li>a:hover{
	background-color: #f5f5f5;
	border-bottom-color: transparent;
}
.report_tab_view .tab-content{
	border-left: 2px solid #dedddd;
	border-right: 2px solid #dedddd;
	border-bottom: 2px solid #dedddd;
}
.report_tab_view .nav-tabs {
    border-bottom: 2px solid #dedddd;
}
.report_tab_view .nav-tabs>li.active>a,
.report_tab_view .nav-tabs>li.active>a:focus,
.report_tab_view .nav-tabs>li.active>a:hover{
	border: 2px solid #dedddd;
	border-bottom-color: transparent;
	background: #fff;
}
.report_tab_view .tab-content{
	background: #fff;
	padding: 10px;
}
.report_tab_view  .panel-heading .accordion-toggle:after {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f0d7";
    float: right;
    color: #444950;
}
.report_tab_view  .panel-heading .accordion-toggle.collapsed:after {
    content: "\f0d9";
}
.report_tab_view .panel {
	border:0;
	box-shadow: none;
}
.report_tab_view .panel-heading{
	background-color:transparent;
	border:0;
	padding: 10px 15px 10px 6px;
}
.report_tab_view .panel-heading a{
	display: block;
	text-decoration: none;
}
.report_tab_view .panel-body{
	border:0;
}
.report_check_listing{
	margin-bottom:10px;
}
.report_check_listing input[type="checkbox"] { display: none; }

.report_check_listing input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font-size:14px;
  color: #000;
  font-weight: normal;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

.report_check_listing input[type="checkbox"] + label:last-child { margin-bottom: 0; }

.report_check_listing input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}
.report_check_listing input[type="checkbox"]:checked + label{
	font-weight:bold;
}
.report_check_listing input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 0px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.select_field_view{
	background: #f5f6f7;
	color: #444950;
	border:1px solid #dadde1;
	border-radius:4px;
	padding:15px;
	font-size: 18px;
	font-weight:500;
	width:60%;
	text-align:center;
	margin:50px auto 0 auto;
}
.report_right_section{
	width:80%;
	display: inline-block;
	margin:0 -1px;
	vertical-align:top;
}
.right_header_view{
	border: 1px solid #dadde1;
    background: #fbfbfb;
    padding: 7px;
}
.back_arrow{
	display: inline-block;
	border-right:1px solid #dadde1;
	font-size: 30px;
	color: #444950;
	text-align: center;
    padding: 5px 20px 5px 10px;
    cursor: pointer;
    vertical-align:middle;
    margin-right: 15px;
}
.add_filter_view{
	display: inline-block;
	border:1px solid #dadde1;
	background:#f5f6f7;
	padding:8px;
	vertical-align:middle;
	border-radius: 4px;
}
.add_filter_view .repo_pro_dro{
	font-size: 16px;
	color: #000;
	border-radius: 4px;
	border:1px solid #dadde1;
	padding:5px 10px;
	background:#fff;
	cursor: pointer;
	position: relative;
}
.add_filter_view .repo_pro_dro .caret{
	border-top: 6px dashed;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.pro_drop_list{
	
}
.repo_pro_dro ul{
	position: absolute;
	left: 0;
	top: 100%;
	margin:0;
	padding:10px;
	width: 180px;
	background: #fff;
	border:1px solid #dadde1;
}
.repo_pro_dro .panel-heading{
	background-color:transparent;
	border:0;
	padding-left:0;
	padding-right:0;
}
.repo_pro_dro .panel,
.repo_pro_dro .panel-body{
	border:0;
	box-shadow: none;
}
.repo_pro_dro .panel-title a{
	text-decoration:none;
}
.repo_pro_dro .panel-group {
    margin-bottom: 0;
}
.repo_pro_dro .report_check_listing label{
	padding-left: 10px !important;
}
.repo_pro_dro .report_check_listing input[type="checkbox"]:checked + label:before{
	left: -8px;
}
