<div class="container-fluid">
  <div class="clearfix header_view">
      <div class="header_left">
        <div class="menu_view">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <span class="all_report_ti">All Reports</span>
        <span class="new_repo_tittle">Untittle Report</span>
        <div class="daily_time">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          Daily
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
      </div>
      <div class="header_right pull-right">
        <div class="report_update_view">
          <p>Report last updated 28 Minutes ago</p>
          <span><i class="fa fa-repeat" aria-hidden="true"></i></span>
        </div>
        <div class="date_calender_view">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order Date
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Order Date-1</a></li>
              <li><a href="#">Order Date-2</a></li>
              <li><a href="#">Order Date-3</a></li>
            </ul>
          </div>
        </div>
        <div class="calender_view">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="last Month Aug 1, 2018 - Aug 31">
          </div>
        </div>
        <div class="export_btn_view">
          <button type="button" class="btn">Export</button>
        </div><!-- export_btn_view End -->
        <div class="save_drop">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">save
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target="#myModal">Save as...</a></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  <div class="report_left_section">
    <div class="whole_report">
      <div class="form-group">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="form-control" id="" placeholder="Search Columns" type="text">
      </div>
    </div><!-- whole_report End -->
    <div class="report_tab_view">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#dimensions">Dimensions</a></li>
        <li><a data-toggle="tab" href="#field">Fields</a></li>
      </ul>
      <div class="tab-content">
        <div id="dimensions" class="tab-pane fade in active">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Primary Dimensions
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="report_check_listing">
                    <input type="checkbox" id="company">
                    <label for="company">Company</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="master">
                    <label for="master">Master Product</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="campaign">
                    <label for="campaign">Campaign</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="promotion">
                    <label for="promotion">Promotion</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="list">
                    <label for="list">List</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="order">
                    <label for="order">Order</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Variant Dimention
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <div class="report_check_listing">
                    <input type="checkbox" id="company-1">
                    <label for="company-1">Company</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="master-2">
                    <label for="master-2">Master Product</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="campaign-3">
                    <label for="campaign-3">Campaign</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="promotion-4">
                    <label for="promotion-4">Promotion</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="list-5">
                    <label for="list-5">List</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="order-6">
                    <label for="order-6">Order</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="select_field_view">
            Add Selected fields to the report
          </div>
        </div>
        <div id="field" class="tab-pane fade">
          <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                    Field Group 0
                  </a>
                </h4>
              </div>
              <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="report_check_listing">
                    <input type="checkbox" id="field-7">
                    <label for="field-7">Field 1</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="field-8">
                    <label for="field-8">Field 2</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="field-9">
                    <label for="field-9">Field 3</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="field-10">
                    <label for="field-10">Field 4</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="field-11">
                    <label for="field-11">Field 5</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="field-12">
                    <label for="field-12">Field 6</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo2">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                    Field Group 1
                  </a>
                </h4>
              </div>
              <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                <div class="panel-body">
                  <div class="report_check_listing">
                    <input type="checkbox" id="field-1">
                    <label for="field-1">Field 1</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="field-2">
                    <label for="field-2">Field 2</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="field-3">
                    <label for="field-3">Field 3</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="field-4">
                    <label for="field-4">Field 4</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="field-5">
                    <label for="field-5">Field 5</label>
                  </div>
                  <div class="report_check_listing">
                    <input type="checkbox" id="field-6">
                    <label for="field-6">Field 6</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="select_field_view">
            Add Selected fields to the report
          </div>
        </div>
      </div>
    </div><!-- report_tab_view End -->
  </div><!-- report_left_section End -->
  <div class="report_right_section">
    <div class="right_header_view">
      <div class="back_arrow">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="add_filter_view">
        <div class="repo_pro_dro">
            <div class="pro_drop_list">Product Name
              <span class="caret"></span>
            </div>
            <ul>
              <div class="panel-group" id="accordion3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3">
                        Saved Filters
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne3" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="report_check_listing">
                        <input type="checkbox" id="save-1">
                        <label for="save-1">Saved Filter 1</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3">
                        Pruchase Orders
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo3" class="panel-collapse collapse">
                    <div class="panel-body">
                      2
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3">
                        Vendors
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree3" class="panel-collapse collapse">
                    <div class="panel-body">
                      3
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour3">
                        Warehouse
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour3" class="panel-collapse collapse">
                    <div class="panel-body">
                      4
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFive3">
                        Fulfilment Center
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive3" class="panel-collapse collapse">
                    <div class="panel-body">
                      4
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </div>
      </div>
    </div>
  </div><!-- report_right_section End -->
</div><!-- header_view End -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>